@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply transition-colors text-sky-800 dark:text-blue-300 hover:text-sky-700 dark:hover:text-blue-400;
}

code {
  @apply text-gray-800 dark:text-gray-200 dark:bg-gray-700;
}

.vi-bg-odd {
  @apply bg-white;
}

body.dark .vi-bg-odd {
  background-color: var(--background-color);
}

.vi-bg-even {
  @apply bg-indigo-50 dark:bg-sky-600;
}

h1,
h2,
h3,
h4,
p,
span {
  @apply text-gray-800 dark:text-white;
}

h2 {
  @apply text-2xl font-bold;
}
